* {
  margin: 0;
  padding: 0;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url(Img/Background_noise.png);
}

h1 {
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 60px;
  }
}

h2 {
  color: white;
}

p {
  font-size: 18px;
  font-family: Calibri;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: rgb(182, 187, 196);
}

a:active {
  color: rgba(255, 255, 255, 0.1);
}

/*________Navigation bar________*/

/*A horizontal navigation bar that spans half of the page and
is colored gray with black text and turns purple when hovering
with white text color*/

nav {
  width: 35%;
  margin-left: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav ul {
  background: linear-gradient(
    to right,
    rgb(22, 26, 48) 50%,
    rgba(255, 255, 255, 0.1)
  );
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

nav li {
  float: left;
  list-style-type: none;
  padding: 11px;
}

nav a::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -10px;
  left: -10px;
  transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav a:hover::after {
  height: calc(100% + 20px);
}
/*________Navigation Bar End________*/

/*Logo style*/
.logo {
  width: 100px;
  height: 100px;
  padding: 20px;
}

/*________Soundbar________*/
.soundboard p {
  text-align: center;
  width: 50%;
}

.soundboard button {
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
}

.soundboard img {
  width: 90px;
  height: 90px;
}

.soundboard img:active {
  content: url(Img/Button_pressed.png);
}

div.soundboard div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(49, 48, 77) 60%, rgb(182, 187, 196));
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  transition: 500ms;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}

.soundboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*________Soundbar End________*/

/*________Body Paragraphs________*/
div.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px;
  gap: 1em;
}

.body div {
  background: rgb(49, 48, 77);
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}
/*________Body Paragraphs End________*/

div.shadow {
  background: linear-gradient(rgb(255, 255, 255), rgb(117, 117, 117));
  width: 100%;
  height: 50px;
}

footer {
  background-color: rgb(22, 26, 48);
  width: 100%;
  height: 150px;
  padding: 50px 30px;
  box-sizing: border-box;
}
