/*Style of the page is to be edited later.
All changes are temporary*/

* {
    margin: 0;
    padding: 0;
}

/*Background image and gradient needs working*/
/* body {
    background-image: url("img/Network.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: linear-gradient(180deg, rgb(119, 0, 255), rgb(0, 132, 255), rgb(0, 252, 42));
} */

h1 {
    font-size: 90px;
    font-family: Arial;
    margin: 20px;
}

p {
    font-size: 18px;
    font-family: Times New Roman;
}

/*________Navigation bar________*/

/*A horizontal navigation bar that spans half of the page and
is colored gray with black text and turns purple when hovering
with white text color*/

nav {
    width: 50%;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    background: linear-gradient(to right, #8c8c8c, #ffffff);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav a {
    padding: 15px;
    background-color: rgb(161, 161, 161);
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
    transition: 500ms ;
}

nav li {
    float: left;
    list-style-type: none;
}

nav a:hover {
    background-color: purple;
    color: white;
}
/*________Navigation Bar End________*/

/*Logo style*/
.logo {
    width: 100px;
    height: 100px;
    padding: 20px;
}

/*Audio element style is to be reworked*/
audio {
    margin: 10px;
}

/*Audio style is to be edited.*/
audio::-webkit-media-controls-panel {
    background-color: rgb(128, 90, 90);
}

footer {
    background-color: grey;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.soundboard p {
    margin-left: 20px;
    font-weight: bold;
}

div.body {
    display: flex;
}

div.soundboard div {
    background-image: linear-gradient(rgba(0, 132, 255, 1), rgba(255, 255, 255, 0.9));
    /* margin: 10px; */
    padding: 30px;
    border-radius: 20px;
    transition: 500ms;
}

.soundboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

/* .flex_grow {
    flex-grow: 1;
} */

/*________Testing CSS Animations________*/
/* .parent {
    background-color: blue;
    height: 400px;
    width: 400px;
}

.child {
    background-color: red;
    height: 100px;
    width: 100px;
    transition: transform 1s;
}

.parent:hover .child {
    transform: translateX(300%);
} */
/*________End of testing________*/